.button {
  background: var(--blue-2);
  padding: 3px 0px;
  text-align: center;
  width: 24px;
  height: 45px;
  border-radius: 2px;
  border: 2px solid var(--blue-2);
  cursor: pointer;
  .buttonText {
    color: var(--white-1);
    font-size: var(--x-small);
    font-weight: var(--font-semibold);
  }
}
@media only screen and (min-width: 768px) {
  .button {
    padding: 9px 0px;
    width: 74px;
    height: 45px;
  }
}
