.checkEmailContainer{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    .checkEmailContentContainer{
        background: var(--white-1);
        border-radius: var(--border-radius);
        width: 80%;
        margin: 10% 0% 10% 0%;
        align-self: center;
        .checkEmailContent{
            width: 100%;
            .checkYourEmailText{
                color: var(--blue-1);
                font-size: var(--xxxx-large);
                font-weight: var(--font-bold);
                margin-top: 10px;
            }
            .divider {
                height: 2px;
                background: var(--white-2);
                width: 100%;
                margin-top: 15px;
              }
              .checkMessageBody{
                margin-top: 60px;
                display: flex;
                align-items: center;
                flex-direction: column;
                .checkMessageContainer{
                    margin-top: 30px;
                    text-align: center;
                    .sentPasswordLink{
                          color: var(--blue-5);
                          font-size: var(--x-large);
                          font-weight: var(--font-normal);
                          .emailId{
                              font-weight: var(--font-semibold);
                          }
                    }
                    .didnotReceiveEmail{
                      color: var(--grey-2);
                      font-size: var(--small);
                      font-weight: var(--font-semibold);
                      margin-top: 10px;
                      .resendLink{
                          color: var(--blue-1);
                          text-decoration: underline;
                          text-decoration-color:var(--blue-1) ;
                          cursor: pointer;
                      }
                    }
                }
            }
        }
    } 
}
@media only screen and (min-width: 768px) {
    .checkEmailContainer{ 
        justify-content: center;
        background-image: url('../../assets/images/ArrowFrameBlue.png');
        background-color: var(--blue-1);
        background-position: 0%;
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-size: contain;
        min-height: 100%;
        .checkEmailContentContainer{
            box-shadow: var(--box-shadow);
            width: 60%;
            .checkEmailContent{
                width: 80%;
                margin: 10% auto 10% auto;
                .checkYourEmailText{
                    margin-top: 15px;
                }
                .divider {
                    margin-top: 20px;
                  }
                  .checkMessageBody{
                      margin-top: 25px;
                      flex-direction: row;
                      .checkMessageContainer{
                          margin-left: 22px;
                          margin-top: unset;
                          text-align: unset;
                      }
                  }
            }
        }
    }
}