.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
  .forgotPasswordFormContainer {
    background: var(--white-1);
    border-radius: var(--border-radius);
    width: 80%;
    margin: 10% 0% 10% 0%;
    align-self: center;
    .forgotPasswordForm {
      width: 100%;
      .forgotPasswordText {
        color: var(--blue-1);
        font-size: var(--xxxx-large);
        font-weight: var(--font-bold);
        margin-top: 10px;
      }
      .forgotPasswordTitle {
        color: var(--blue-1);
        font-size: var(--medium);
        font-weight: var(--font-semibold);
        margin-top: 10px;
      }
      .divider {
        height: 2px;
        background: var(--white-2);
        width: 100%;
        margin-top: 15px;
      }
      .forgotPasswordFormBody {
        margin-top: 30px;
        .formFields {
          display: flex;
          flex-direction: column;
          width: 100%;
          position: relative;
          margin-top: 5px;
          .label {
            color: var(--blue-5);
            font-size: var(--small);
            font-weight: var(--font-medium);
            line-height: 30px;
          }
          .inputField {
            border: var(--border);
            border-radius: 6px;
            height: 35px;
            // width: 100%;
            padding-left: 15px;
            color: var(--blue-5);
            &::placeholder {
              color: var(--grey-1);
              font-size: var(--small);
              font-weight: var(--font-normal);
              margin: 5px;
            }
          }
          .error {
            color: var(--red-1);
            font-size: var(--x-small);
            font-weight: var(--font-normal);
            margin-top: 10px;
          }
        }
        .resetButton {
          width: 100%;
          margin-top: 30px;
        }
      }
      .backToLogin {
        text-align: center;
        margin-top: 20px;
        .backToText {
          color: var(--grey-2);
          font-size: var(--small);
          font-weight: var(--font-semibold);
        }
        .signInText {
          color: var(--blue-1);
          font-size: var(--small);
          font-weight: var(--font-semibold);
          margin-left: 3px;
          text-decoration: underline;
          text-decoration-color: var(--blue-5);
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .forgotPasswordContainer {
    justify-content: center;
    background-image: url("../../assets/images/ArrowFrameBlue.png");
    background-color: var(--blue-1);
    background-position: 0%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: contain;
    min-height: 100%;
    .forgotPasswordFormContainer {
      box-shadow: var(--box-shadow);
      width: 42%;
      .forgotPasswordForm {
        width: 80%;
        margin: 10% auto 10% auto;
        .forgotPasswordText {
          margin-top: 15px;
        }
        .divider {
          margin-top: 20px;
        }
        .forgotPasswordFormBody {
          margin-top: 25px;
          .formFields {
            .inputField {
              height: 48px;
              width: unset;
              &::placeholder {
                font-size: var(--medium);
                font-weight: var(--font-medium);
              }
            }
          }
        }
      }
    }
  }
}
