.resetPasswordContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
  .resetPasswordFormContainer {
    background: var(--white-1);
    border-radius: var(--border-radius);
    width: 80%;
    margin: 10% 0% 10% 0%;
    align-self: center;
    .resetPasswordForm {
      width: 100%;
      .setNewPasswordText {
        color: var(--blue-1);
        font-size: var(--xxxx-large);
        font-weight: var(--font-bold);
        margin-top: 10px;
      }
      .setNewPasswordTitle {
        color: var(--blue-1);
        font-size: var(--medium);
        font-weight: var(--font-semibold);
        margin-top: 10px;
      }
      .divider {
        height: 2px;
        background: var(--white-2);
        width: 100%;
        margin-top: 15px;
      }
      .resetPasswordFormBody {
        margin-top: 30px;
        .formFields{
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;
            margin-top: 5px;
            .label {
                color: var(--blue-5);
                font-size: var(--small);
                font-weight: var(--font-medium);
                line-height: 30px;
              }
              .inputField {
                border: var(--border);
                border-radius: 6px;
                height: 35px;
                // width: 100%;
                color: var(--blue-5);
                padding-left: 15px;
                // flex: 1;
                &::placeholder {
                  color: var(--grey-1);
                  font-size: var(--small);
                  font-weight: var(--font-normal);
                  margin: 5px;
                }
              }
              .view {
                position: absolute;
                top: 38px;
                right: 15px;
                user-select: none;
                cursor: pointer;
              }
              .error{
                color: var(--red-1);
                font-size: var(--x-small);
                font-weight: var(--font-normal);
                margin-top: 10px;
              }
        }
        .resetButton{
            width: 100%;
            margin-top: 30px;
        }
      }
      .backToLogin{
        text-align: center;
        margin-top: 20px;
        .backToText{
          color: var(--grey-2);
          font-size: var(--small);
          font-weight: var(--font-semibold);
        }
        .signInText{
          color: var(--blue-1);
          font-size: var(--small);
          font-weight: var(--font-semibold);
          margin-left: 3px;
          text-decoration: underline;
          text-decoration-color:var(--blue-5) ;
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .resetPasswordContainer {
    background-image: url('../../assets/images/ArrowFrameBlue.png');
    background-color: var(--blue-1);
    background-position: 0%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: contain;
    min-height: 100%;
    justify-content: center;
    .resetPasswordFormContainer {
      box-shadow: var(--box-shadow);
      width: 42%;
      .resetPasswordForm {
        width: 80%;
        margin: 10% auto 10% auto;
        .setNewPasswordText {
          margin-top: 15px;
        }
        .divider {
          margin-top: 20px;
        }
        .resetPasswordFormBody {
          margin-top: 25px;
          .formFields{
            .inputField {
                height: 48px;
                width: unset;
                // flex: 1;
                &::placeholder {
                  font-size: var(--medium);
                  font-weight: var(--font-medium);
                }
              }
              .view {
                top: 45px;
                right: 14px;
              }
          }
        }
      }
    }
  }
}
