.tabDataContainer{
    margin-top: 30px;
    .activeTab{
        width: 92px !important;
      }
      .activeTabName
      {
        margin-left: unset !important;
      }
    .tableCardContainer{
        margin-top: 30px;
        background: var(--white-4);
        border-radius:var(--border-radius);
        padding: 20px;
        min-width: fit-content;
        .nameQuantityContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .spanFlexContainer{
                // min-width: 95px;
                flex: unset;
            }
            .button{
                width: 40px;
                height: 40px;
                background: var(--white-5);
                border: var(--border);
                border-radius: 6px;
                margin-right: 10px;
                &:last-of-type{
                    margin-right: 0px;
                }
            }
        }
        .mainDataContainer{
            margin-top: 20px;
            .divider{
                background: var(--grey-5);
                width: 100%;
            }
            .documentListContainer{
                .documentList{
                    display: flex;
                    margin-top: 20px;
                    .doc{
                        margin-top: unset;
                    }
                    .copyAddress{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}