.tooltipContainer {
  margin-top: 7px;
  position: absolute;
  background: var(--blue-1);
  padding: 16px 12px;
  width: 194px;
  z-index: 11;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
    .tooltipContent {
      color: var(--white-1);
      font-size:var(--medium) ;
      font-weight: var(--font-medium);
      text-align: start;
    }
    .subTitle{
      color: var(--white-1);
      font-size: var(--x-small);
      font-weight: var(--font-medium);
      text-align: start;
    }
    & ::before {
      content: "";
      display: block;
      position: absolute;
      // left: 0;
      // right: 0;
      // margin-right: auto;
      // margin-left: auto;
      // top: 10px;
      bottom: 100%;
      width: 0;
      height: 0;
      border-bottom: 10px solid var(--blue-1);
      border-right: 5px solid transparent;
      border-top: 0 solid transparent;
      border-left: 5px solid transparent;
    }
  }
@media only screen and (min-width: 768px) {
    .tooltipContainer {
    margin-top: 7px;
    position: absolute;
    background: var(--blue-1);
    padding: 16px 12px;
    width: 194px; 
    z-index: 9;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
      .tooltipContent {
        color: var(--white-1);
        font-size:var(--medium) ;
        font-weight: var(--font-medium);
        text-align: start;
      }
      .subTitle{
        color: var(--white-1);
        font-size: var(--x-small);
        font-weight: var(--font-medium);
        text-align: start;
      }
      & ::before {
        content: "";
        display: block;
        position: absolute;
        // left: 0;
        // right: 0;
        // margin-right: auto;
        // margin-left: auto;
        // top: 10px;
        bottom: 100%;
        width: 0;
        height: 0;
        border-bottom: 10px solid var(--blue-1);
        border-right: 5px solid transparent;
        border-top: 0 solid transparent;
        border-left: 5px solid transparent;
      }
    }
  }
  